<div class="panel panel-default">
  <div class="panel-heading">
      菜单列表
    <div class="pull-right">
      <%= link_to "同步菜单", sync_diymenus_url, method: :post, class: "btn btn-primary btn-xs" %>
      <%= link_to "新建菜单", new_diymenu_path, class: "btn btn-primary btn-xs" %>
    </div>
  </div>
  <div class="table-responsive">
    <div>
      <% def treelist(tree) %>
        <% diymenus = tree %>
        <% diymenus.each do |diymenu| %>
          <ul>
            <li><%= diymenu.name %>
        <%= link_to '修改', edit_diymenu_path(diymenu), class: "btn btn-default btn-xs" %>
        <%= link_to '删除', diymenu_path(diymenu), method: :delete, class: "btn btn-default btn-xs"  %>
            <% if not diymenu.children.blank? %>
            <% treelist(diymenu.children) %>
            <% end %>
            </li>
          </ul>
        <% end %>
         <% end %>
      <% treelist(Diymenu.roots) %>
    </div>
  </div>
  <footer class="panel-footer">
    <%#= render partial: "shared/admin/paginate", locals: { object: @categories } %>
  </footer>
</div>