<div class="panel panel-default">
  <div class="panel-heading">
    用户列表
    <div class="pull-right">
      <% if can? :create, User %>
      <%= link_to "新建用户", new_user_path, class: "btn btn-primary btn-xs" %>
      <% end %>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped b-t b-light">
      <thead>
        <tr>
          <th>邮箱</th>
          <th>权限</th>
          <th style="width:120px;">创建时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.email %></td>
            <td><%= user.role %></td>
            <td><%= user.created_at.strftime("%F %T")%></td>
            <td>
              <%= link_to "查看", user, class: "btn btn-default btn-xs" %>
              <%= link_to "修改", edit_user_path(user), class: "btn btn-default btn-xs" %>
              <% if can? :delete, User %>
              <%= link_to "删除", user_path(user), method: :delete, class: "btn btn-default btn-xs" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <footer class="panel-footer">
    <%#= paginate @users, views_prefix: 'admin',theme: 'angulr' %>
    <%= render partial: "shared/admin/paginate", locals: { object: @users } %>
  </footer>
</div>
