<tr>
  <td><%= bannar.title %></td>
  <td><%= bannar.url %></td>
  <td>
    <% if bannar.active == true%>
      已激活
    <% elsif bannar.active == false%>
      已过期
    <% end %>
    </td>
  <td><%= bannar.end_time %></td>
  <td><img src="<%= bannar.avatar_url('165x30') %>" alt="" /></td>
  <td><%= bannar.created_at.strftime("%F") %></td>
  <td>
    <%= link_to "查看", bannar, class: "btn btn-default btn-xs" %>
    <%= link_to "修改", edit_bannar_path(bannar), class: "btn btn-default btn-xs" %>
    <%= link_to "删除", bannar_path(bannar), method: :delete, class: "btn btn-default btn-xs" %>
    <%= link_to "上", up_bannar_path(bannar), method: :post, class: "btn btn-default btn-xs" %>
    <%= link_to "下",  down_bannar_path(bannar), method: :post, class: "btn btn-default btn-xs" %>
  </td>
</tr>
