<%= simple_form_for([@bannar], html: { multipart: true, class: "form-horizontal" }) do |f| %>
<%= f.input :title, label: "标题" %>
<%= f.input :url, label: "url" %>
<%= f.input :end_time, as: :date, html5: true, label: "过期时间" %>
<% if not @bannar.avatar_url.blank?  %>
<div class="col-sm-10 col-sm-offset-2 m-b">
  <%= image_tag @bannar.avatar_url('720x240'), class: "img-thumbnail" %>
</div>
<% end %>
<%= f.input :avatar, label: "上传图片" %>
<%= f.input :active, as: :boolean, html: true,  label: "激活" %>
<div class="line line-dashed b-b line-lg pull-in"></div>
<div class="col-sm-10 col-sm-offset-2">
  <%= f.button :submit, "提 交", class: "btn btn-primary" %>
  <%= link_to "返 回", bannars_path, class: "btn btn-default" %>
</div>
<% end %>
