<div class="panel panel-default">
<div class="panel-heading font-bold">
  查看广告
</div>
<div class="panel-body">
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @bannar.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @bannar.url %>
</p>
<p>
  <strong>Active:</strong>
  <%= @bannar.active %>
</p>

<% if not @bannar&.avatar&.url.blank? %>
<img src="<%= @bannar.avatar.url %>">
<% end %>
<div class="line line-dashed b-b line-lg pull-in"></div>
  
<%= link_to "修改", edit_bannar_path(@bannar), class: "btn btn-success btn-xs" %>
<%= link_to "返回", bannars_path,  class: "btn btn-success btn-xs" %>
</div>
</div>
</div>

