<div class="panel panel-default">
<div class="panel-heading font-bold">
  查看广告
</div>
<div class="panel-body">
  <%= simple_form_for(@bannar, html: { multipart: true, class: "form-horizontal" }) do |f| %>
    <%= f.input :title, label: "订阅公众号", disabled: true %>
  <div class="line line-dashed b-b line-lg pull-in"></div>
   <%= f.input :url, label: "openId", disabled: true %>
  <div class="line line-dashed b-b line-lg pull-in"></div>
  <%= f.input :active, label: "昵称", disabled: true %>
  <div class="line line-dashed b-b line-lg pull-in"></div>
  <%= f.input :end_time, label: "过期时间", disabled: true %>
  <div class="line line-dashed b-b line-lg pull-in"></div>
   <% if not @bannar.avatar_url.blank?  %>
<div class="col-sm-10 col-sm-offset-2 m-b">
  <%= image_tag @bannar.avatar_url('720x240'), class: "img-thumbnail" %>
</div>
<% end %>
 <div class="line line-dashed b-b line-lg pull-in"></div>
  <div class="col-sm-10 col-sm-offset-2">
   <%= link_to "修改", edit_bannar_path(@bannar), class: "btn btn-success btn-xs" %>
<%= link_to "返回", bannars_path,  class: "btn btn-success btn-xs" %>
  </div>
  <% end %>
</div>
</div>


