<%= simple_form_for(@wx_user, html: { multipart: true, class: "form-horizontal" }) do |f| %>
    <%= f.input :nickname, label: "昵称" %>
  <div class="line line-dashed b-b line-lg pull-in"></div>
    <%= f.input :openid, label: "openID" %>
  <div class="line line-dashed b-b line-lg pull-in"></div>
  	<%= f.input :avatar, label: "头像" %>
  <div class="line line-dashed b-b line-lg pull-in"></div>
  <div class="col-sm-10 col-sm-offset-2">
    <%= f.button :submit, "提 交", class: "btn btn-primary" %>
    <%= link_to "返 回", wx_users_path, class: "btn btn-default" %>
  </div>
<% end %>
