<%= simple_form_for(@wx_user, html: { multipart: true, class: "form-horizontal" }) do |f| %>
    <%= f.input :subscribe, label: "订阅公众号" %>
  <div class="line line-dashed b-b line-lg pull-in"></div>
   <%= f.input :openid, label: "openId" %>
  <div class="line line-dashed b-b line-lg pull-in"></div>
  <%= f.input :nickname, label: "昵称" %>
  <div class="line line-dashed b-b line-lg pull-in"></div>
   <%= f.input :sex, label: "性别" %>
  <div class="line line-dashed b-b line-lg pull-in"></div>
   <%= f.input :language, label: "语言" %>
  <div class="line line-dashed b-b line-lg pull-in"></div>
   <%= f.input :city, label: "城市" %>
  <div class="line line-dashed b-b line-lg pull-in"></div>
  <%= f.input :province, label: "省份" %>
  <div class="line line-dashed b-b line-lg pull-in"></div>
   <%= f.input :country,:as => :string ,label: "国家" %>
  <div class="line line-dashed b-b line-lg pull-in"></div>
   <%= f.input :headimgurl, label: "头像" %>
  <div class="line line-dashed b-b line-lg pull-in"></div>
   <%= f.input :subscribe_time, label: "关注时间戳" %>
   <div class="line line-dashed b-b line-lg pull-in"></div>
   <%= f.input :unsubscribe_time, label: "取消关注时间戳" %>
  <div class="line line-dashed b-b line-lg pull-in"></div>
   <%= f.input :unionid, label: "unionid" %>
  <div class="line line-dashed b-b line-lg pull-in"></div>
   <%= f.input :remark, label: "备注" %>
  <div class="line line-dashed b-b line-lg pull-in"></div>
  <%= f.input :groupid, label: "分组id" %>
  <div class="line line-dashed b-b line-lg pull-in"></div>
   <%= f.input :tagid_list, label: "标签列表" %>
  <div class="line line-dashed b-b line-lg pull-in"></div>
  <div class="col-sm-10 col-sm-offset-2">
    <%= f.button :submit, "提 交", class: "btn btn-primary" %>
    <%= link_to "返 回", wx_users_path, class: "btn btn-default" %>
  </div>
<% end %>
