<div class="panel panel-default">
  <div class="panel-heading">
      微信用户列表
    <div class="pull-right">
      <%= link_to "新建", new_wx_user_path, class: "btn btn-primary btn-xs" %>
    </div>
    <form action="/wx_users" method="get">
      <div class="input-group col-md-3" style="margin-top:15px ">
        <input type="text" class="form-control" placeholder="请输入字段名" id='search' name="search" value="<%= params[:search]%>"/ >
          <span class="input-group-btn">
            <input class="btn btn-info btn-search" type="submit" name="" value="搜索">
          </span>
      </div>
    </form>
  </div>
  <div class="table-responsive">
    <table class="table table-striped b-t b-light">
      <thead>
        <tr>
          <th>昵称</th>
          <th>是否关注</th>
          <th>性别</th>
          <th>城市</th>
          <th>头像</th>
          <th style="width:120px;">创建时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
       <% @wx_users.each do |wx_user| %>
      <tr>
        <td><%= wx_user.nickname %></td>
        <%  if wx_user.subscribe == 1%>
          <td>已关注</td>
        <% elsif%>
         <td>未关注</td>
        <% end %>
        <%  if wx_user.sex == 1 %>
          <td>男性</td>
        <% elsif wx_user.sex == 2 %>
          <td>女性</td>
        <% elsif wx_user.sex == 3 || wx_user.sex.blank? %>
          <td>未知</td>
        <% end %>
        <td><%= wx_user.city %></td>
        <td><img src="<%= wx_user.headimgurl %>" height="40" width="40" /></td>
        <td><%= wx_user.created_at.strftime("%F %T") %></td>
        <td><%= link_to '查看', wx_user, class: "btn btn-default btn-xs" %>
        <%= link_to '修改', edit_wx_user_path(wx_user), class: "btn btn-default btn-xs" %>
        <%= link_to '删除', wx_user_path(wx_user), method: :delete, class: "btn btn-default btn-xs"  %>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <footer class="panel-footer">
    <%= render partial: "shared/admin/paginate", locals: { object: @wx_users } %>
  </footer>
</div>