<div class="panel panel-default">
  <div class="panel-heading">
      图片列表
    <div class="pull-right">
      <%= link_to "新建图片", new_photo_path, class: "btn btn-primary btn-xs" %>
    </div>
  </div>
   <div class="table-responsive">
    <table class="table table-striped b-t b-light">
      <thead>
        <tr>
          <th>图片</th>
          <th style="width:120px;">创建时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <% @photos.each do |photo| %>
          <tr>
            <td><img src="<%= photo.img_url('100') %>"/></td>
            <td><%= photo.created_at.strftime("%F %T")%></td>
            <td>
              <%= link_to "查看", photo, class: "btn btn-default btn-xs" %>
              <%= link_to "修改", edit_photo_path(photo), class: "btn btn-default btn-xs" %>
              <% if can? :delete, User %>
              <%= link_to "删除", photo_path(photo), method: :delete, class: "btn btn-default btn-xs" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <footer class="panel-footer">
    <%#= paginate @photos, views_prefix: 'admin',theme: 'angulr' %>
    <%= render partial: "shared/admin/paginate", locals: { object: @photos } %>
  </footer>
</div>
