<%= simple_form_for(@category, html: { multipart: true, class: "form-horizontal" }) do |f| %>
    <% if params[:category_id].blank? %>
     <input class="form-control string optional" type="hidden" name="category[parent_id]" id="category_parent_id" value="">
    <% else %>
    <input class="form-control string optional" type="hidden" name="category[parent_id]" id="category_parent_id" value="<%= params[:category_id] %>">
    <% end %>
    <label class="col-sm-2 control-label file optional">所属信息分类</label>
    <div class="col-sm-offset-2">
    <%= f.select :info_class_id, @info_classes.map { |info_class| [info_class.name, info_class.id] } %>
    </div>
    <div class="line line-dashed b-b line-lg pull-in"></div>
      <%= f.input :name, label: "分类名" %>
    <div class="line line-dashed b-b line-lg pull-in"></div>
      <%= f.input :icon, label: "分类图标" %>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="col-sm-10 col-sm-offset-2">
      <%= f.button :submit, "提 交", class: "btn btn-primary" %>
      <%= link_to "返 回", categories_path, class: "btn btn-default" %>
  </div>
<% end %>
