<div class="panel panel-default">
  <div class="panel-heading">
      分类列表
    <div class="pull-right">
      <%= link_to "新建分类", new_category_path, class: "btn btn-primary btn-xs" %>
    </div>
  </div>
  <div class="table-responsive">
    <div>
      <% def treelist(tree) %>
        <% categories = tree %>
        <% categories.each do |category| %>
          <ul>
            <li><%= category.name %>
              <%= link_to '查看', category, class: "btn btn-default btn-xs" %>
        <%= link_to '修改', edit_category_path(category), class: "btn btn-default btn-xs" %>
        <%= link_to '删除', category_path(category), method: :delete, class: "btn btn-default btn-xs"  %>
            <% if not category.children.blank? %>
            <% treelist(category.children) %>
            <% end %>
            </li>
          </ul>
        <% end %>
      <% end %>
      <% treelist(Category.roots) %>
    </div>
  </div>
  <footer class="panel-footer">
    <%#= render partial: "shared/admin/paginate", locals: { object: @categories } %>
  </footer>
</div>
