<div class="panel panel-default">
  <div class="panel-heading">
      分类列表
    <div class="pull-right">
      <%= link_to "新建分类", new_category_path, class: "btn btn-primary btn-xs" %>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped b-t b-light">
      <thead>
        <tr>
          <th>分类名</th>
          <th>分类图标</th>
          <th style="width:120px;">创建时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
       <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><% if not category.icon_url.blank?  %>
          <%= image_tag category.icon_url('30x30'), class: "img-thumbnail" %>
            <% end %>
        </td>
        <td><%= category.created_at.strftime("%F %T") %></td>
        <td><%= link_to '查看', category, class: "btn btn-default btn-xs" %>
        <%= link_to '修改', edit_category_path(category), class: "btn btn-default btn-xs" %>
        <%= link_to '删除', category_path(category), method: :delete, class: "btn btn-default btn-xs"  %>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <footer class="panel-footer">
    <%= render partial: "shared/admin/paginate", locals: { object: @categories } %>
  </footer>
</div>