<%= simple_form_for([@bottom_menu], html: { multipart: true, class: "form-horizontal" }) do |f| %>
  <%= f.input :name, label: "底部菜单名称" %>
 <% if not @bottom_menu.icon_url.blank?  %>
<div class="col-sm-10 col-sm-offset-2 m-b">
  <%= image_tag @bottom_menu.icon_url('30x30'), class: "img-thumbnail" %>
</div>
<% end %>
<%= f.input :icon, label: "上传图标" %>
  <div class="line line-dashed b-b line-lg pull-in"></div>
  <div class="col-sm-10 col-sm-offset-2">
    <%= f.button :submit, "提 交", class: "btn btn-primary" %>
    <%= link_to "返 回", :back, class: "btn btn-default" %>
  </div>
<% end %>