<%= simple_form_for([@site], html: { multipart: true, class: "form-horizontal" }) do |f| %>
  <%= f.input :name, label: "站点名称" %>
  <%= f.input :domain, label: "站点域名" %>
  <%= f.input :subscribe_text, label: "关注回复信息" %>
  <% if not @site.logo_url.blank?  %>
<div class="col-sm-10 col-sm-offset-2 m-b">
  <%= image_tag @site.logo_url('30x30'), class: "img-thumbnail" %>
</div>
<% end %>
<%= f.input :logo, label: "上传logo" %>
<% if not @site.qr_url.blank?  %>
<div class="col-sm-10 col-sm-offset-2 m-b">
  <%= image_tag @site.qr_url('30x30'), class: "img-thumbnail" %>
</div>
<% end %>
<%= f.input :qr, label: "上传站点二维码" %>
  <%= f.input :weixin_appid, label: "微信APPID" %>
  <%= f.input :weixin_appsecret, label: "微信appsecret" %>
  <%= f.input :weixin_secret_key, label: "微信secret key" %>
  <%= f.input :weixin_token, label: "微信token" %>
  <div class="line line-dashed b-b line-lg pull-in"></div>
  <div class="col-sm-10 col-sm-offset-2">
    <%= f.button :submit, "提 交", class: "btn btn-primary" %>
    <%= link_to "返 回", :back, class: "btn btn-default" %>
  </div>
<% end %>
