<div class="panel panel-default">
  <strong>请选择分类：</strong>
  <form action="/infos" method="get">
    <% @categories.each do |category| %>
        <label class="radio-inlin">
        <input type="radio" id="name" name="category_id" value= "<%= category.id %>" /> <%= category.name %>
    </label>
    <% end %>
  <input type="submit"  value="搜索" class="btn btn-primary">
</form>
  <div class="panel-heading">
      信息列表
       <% if  %>
         <div class="pull-right">
      <%= link_to "新建", new_info_path(category_id: params[:category_id]), class: "btn btn-primary btn-xs" %>
    </div>
       <% end %>
  </div>
  <div class="table-responsive">
    <table class="table table-striped b-t b-light">
      <thead>
        <tr>
          <th>标题</th>
          <th>所属分类</th>
          <th>描述</th>
          <th>电话</th>
          <% if @info_types  %>
          <% @info_types.each do |info_type| %>
            <th><%= info_type.name %></th>
          <% end %>
          <% end %>
          <th>阅读次数</th>
          <th>状态</th>
          <th>创建时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
       <% @infos.each do |info| %>
      <tr>
        <td><%= info.title %></td>
        <td><% if not info.category_id.blank? %>
            <%= Category.find_by(id: info.category_id).name %>
            <% end %>
        </td>
        <td><%= info.description %></td>
        <td><%= info.phone %></td>
        <% if @info_types  %>
        <% @info_types.each do |info_type| %>
        <td><%= info[info_type.fieldname.to_sym] %></td>
        <% end %>
        <% end %>
        <td><%= info.view %></td>
        <td><%= info.status %></td>
        <td><%= info.created_at.strftime("%F %T") %></td>
        <td><%= link_to '查看', info, class: "btn btn-default btn-xs" %>
        <%= link_to '修改', edit_info_path(info), class: "btn btn-default btn-xs" %>
        <%= link_to '删除', info_path(info), method: :delete, class: "btn btn-default btn-xs"  %>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <footer class="panel-footer">
    <%= render partial: "shared/admin/paginate", locals: { object: @infos } %>
  </footer>
</div>